*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#grid{
    display: flex;
    width: 400px;
    height: 300px;
    flex-wrap: wrap;  
}
.wrapper {
    width: 100vw;
    height: 100vh;
    color: white;
    background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
h2{
    margin: 3% 0;
}
